/* 
CSS Structure:
    - root

    - body
    - navbar
    - carousel
    - about
    - featured work
    - latest work
    - miscellaneous
    - footer

    - responsive screens:
        - 
*/
:root {
    /* sizes */
    --maximum-width: 105em;

    /* colors */
    --green-color: #25c389;
    --yellow-color: #ffb901;
    --red-color: #de6262;
    --lightblue-color: #1691bd;
    --blue-color: #166ba2;

    /* font styling */
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
}

/* body */
body {

}

/* navbar */
.navbar {

}

/* carousel */
.carousel {

}

/* about */
.about {

}

/* featured work */
.featured_work {

}

/* latestWork */
.latest_work {

}

/* miscellaneous */
.miscellaneous {

}

/* footer */
footer {

}

/* Small only */
@media screen and (max-width: 39.9375em) {

}
/* Medium and up */
@media screen and (min-width: 40em) {

}
/* Medium only */
@media screen and (min-width: 40em) and
(max-width: 63.9375em) {

}
/* Large and up */
@media screen and (min-width: 64em) {

}
/* Large only */
@media screen and (min-width: 64em) and
(max-width: 74.9375em) {

}

