/* 
CSS Structure:
    - root

    - body
    - navbar
    - carousel
    - about
    - featured work
    - latest work
    - miscellaneous
    - footer

    - responsive screens:
        - 
*/
:root {
    /* sizes */
    --maximum-width: 90em;
    --small-font-size: 1em;

    /* colors */
    --green-color: #25c389;
    --yellow-color: #ffb901;
    --red-color: #de6262;
    --lightblue-color: #1691bd;
    --blue-color: #166ba2;

    /* font styling */
    --font-family: 'Ubuntu', sans-serif;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
}

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
}
body {
    margin: 0;
    font-family: var(--font-family);
}
body > * {
    max-width: var(--maximum-width);
    padding: 0 9.375em;
}
a {
    color: inherit;
    text-decoration: none;
}

/* navbar */
.navbar {
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: var(--small-font-size);
    justify-content: space-between;
    /* gap: 6.25em; */
}
.navbar img {
    height: 80px;
    margin-bottom: 1.25em;
}
.navbar__menu {
    display: flex;
}
.navbar__menu_item {
    min-width: 140px;
    padding: 1.25em;
    text-align: center;
}
.navbar__menu_item > i {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1.25em;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 30px;
}
.navbar__menu_item > div {
    display: flex;
    justify-content: space-between;
}
.item-home {
    background-color: var(--green-color);
}
.item-pages {
    background-color: var(--yellow-color);
}
.item-blog {
    background-color: var(--red-color);
}
.item-portfolio {
    background-color: var(--lightblue-color);
}
.item-contacts {
    background-color: var(--blue-color);
}

/* carousel */
.carousel {
    background-color: orange;
    height: 50px;
    margin: 0;
}

/* about */
.about {

}

/* featured work */
.featured_work {
    text-align: center;
}
.featured_work h2 {
    font-weight: 400;

}
.featured_work__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 18em;
    grid-gap: 1.5em;
}
.featured_work__item img {
    max-width:100%;
    height:100%;
    object-fit: cover;
}

/* latestWork */
.latest_work {

}

/* miscellaneous */
.miscellaneous {

}

/* footer */
footer {

}

/* Small only */
@media screen and (max-width: 39.9375em) {

}
/* Medium and up */
@media screen and (min-width: 40em) {

}
/* Medium only */
@media screen and (min-width: 40em) and
(max-width: 63.9375em) {

}
/* Large and up */
@media screen and (min-width: 64em) {

}

@media screen and (min-width: 112.5em) {
    body > * {
        margin: 0 auto;
    }
}
/* Large only */
@media screen and (min-width: 64em) and
(max-width: 74.9375em) {

}

